In [2]:
import pandas as pd

In [7]:
serie = [5, 7, 6, 8, 10, 9, 11, 12]
df = pd.DataFrame({'Y':serie})
type(df.values)

numpy.ndarray

### Suponiendo que se llegó a que un valor de lag óptimo es 4 mediante una PACF

El cálculo de los coeficientes finales φ se hace mediante la regresión múltiple: (XT * X)(XT * Y)

In [ ]:
# Dado que el valor de lag = 4, el traslape en la creación de la matriz X es:
lag_val = 4

for lag in range(1, lag_val):
    df[f'lag_{lag}'] = df['Y'].shift(lag)

df.head()

    Y  lag_1  lag_2  lag_3
0   5    NaN    NaN    NaN
1   7    5.0    NaN    NaN
2   6    7.0    5.0    NaN
3   8    6.0    7.0    5.0
4  10    8.0    6.0    7.0

In [11]:
df.dropna(inplace=True)
df.head()

    Y  lag_1  lag_2  lag_3
3   8    6.0    7.0    5.0
4  10    8.0    6.0    7.0
5   9   10.0    8.0    6.0
6  11    9.0   10.0    8.0
7  12   11.0    9.0   10.0

In [12]:
X = df.drop(columns=['Y']).values
X

array([[ 6.,  7.,  5.],
       [ 8.,  6.,  7.],
       [10.,  8.,  6.],
       [ 9., 10.,  8.],
       [11.,  9., 10.]])

In [13]:
Y = df['Y'].values
Y

array([ 8, 10,  9, 11, 12])